<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {% block title %} {% endblock %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
		{% block other %} {% endblock %}
		<style media="screen">
		{% block style %}
		{% endblock %}
		</style>
	</head>
	<body>
		{% block page %}
		{% endblock %}
	</body>
</html>
