{% extends "page_simple.twig" %}

{% block title %} Inscription {% endblock %}

{% block content %}

<form action="continuer" method="post">
	<div class="field">
		<label class="label">Nom Joueur</label>
		<div class="control">
			<input class="input" type="text" name="nom" placeholder="Nom">
		</div>
		<div class="control">
			<input class="input" type="text" name="pass" placeholder="Mot de passe">
		</div>
		<input class="button is-block is-info is-large is-fullwidth" type="submit" name="submit">Se Connecter</input>
	</div>
</form>

{% endblock %}
