{% extends "page_simple.twig" %}

{% block title %} Inscription {% endblock %}

{% block content %}

<form action="inscription" method="post" class="container content box">
	<div class="columns">
		<div class="person column">
			<h1 class="has-text-centered">Personage</h1>
			<?php if (isset($error_perso)) echo $error_perso;?>
			<div class="field is-horizontal">
				<div class="field-label"><label for="name" class="label">Nom du Personage</label></div>
				<div class="field-body">
					<div class="control"><input type="text" name="nom_perso" value=""></div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label"><label for="genre" class="label">Genre</label></div>
				<div class="field-body">
					<div class="select">
						<select id="genre" name="genre">
							<option value="Masculin">Masculin</option>
							<option value="Feminin">Feminin</option>
							<option value="Autre">Autre</option>
						</select>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label"><label for="origine" class="label">origines</label></div>
				<div class="field-body">
					<label class="radio is-expanded">
						<input class="radio" type="radio" name="origine" value="simple" checked>
						Parents pauvres
					</label>
					<label class="radio">
						<input class="radio" type="radio" name="origine" value="riches" checked>
						Parents riches
					</label>
					<label class="radio">
						<input class="radio" type="radio" name="origine" value="nothing" checked>
						orphelin
					</label>
				</div>
			</div>
		</div>
		<div class="parti column">
			<h1 class="has-text-centered">parti politique</h1>
			<div class="field is-horizontal">
				<div class="field-label"><label for="name" class="label">Nom du parti</label></div>
				<div class="field-body">
					<div class="control">
						<input type="text" name="nom_parti" value="">
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label"><label for="sucession" class="label">sucession du president</label></div>
				<div class="field-body">
					<label class="radio"><input type="radio" name="sucession" value="hereditaire"> voie hereditaire
					<label class="radio"><input type="radio" name="sucession" value="election" checked> elections
				</div>
			</div>
		</div>
		<div class="etat column">
			<h1 class="has-text-centered">Etat</h1>
			<div class="field is-horizontal">
				<div class="field-label"><label for="name" class="label">Nom de l'etat</label></div>
				<div class="field-body"><div class="control"><input type="text" name="nom_etat" value=""></div></div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label"><label for="regime" class="label">Regime politique</label></div>
				<div class="field-body"><div class="control"><input type="radio" name="regime" value="democracie" checked> democracie</div></div>
			</div>
		</div>
	</div>
	<div class="has-text-centered">
		<input type="submit" name="submit" class="button is-primary" value="S'inscrire"></submit>
	</div>
</form>

{% endblock %}
