{% extends "page_simple.twig" %}

{% block title %} Menu {% endblock %}

{% block style %}
.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://cdn.pixabay.com/photo/2012/08/27/14/19/evening-55067_1280.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
{% endblock %}

{% block content %}

		<div class="container has-text-centered">
			<div class="column is-4 is-offset-4">
				<div class="box">
					<ul>
						<li><h1 class="title">Mini Civ</h1></li>
						<li><a href="/inscription">commencer la partie</a></li>
						<li><a href="/continuer">continuer la partie</a></li>
						<li><a href="/aide">Comment jouer ?</a></li>
						<li><a href="/wiki">Wiki du jeu</a></li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}
