{% extends "base.twig" %}

{% block page %}

<section class="hero is-info is-fullheight">
	<div class="hero-body">
		{% block content %}
		{% endblock %}
	</div>
	<div class="hero-foot">
		<nav class="tabs">
			<div class="container">
				<ul>
					<li href="about">a propos</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

{% endblock %}
