{% extends "base.twig" %}

{% block title %} Play {% endblock %}

{% block other %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{% block style %}

.hero.is-info {
	background: url("https://i1.wp.com/killscreen.com/wp-content/uploads/2014/01/The-Banner-Saga_1_2.jpg?w=1760&ssl=1") center center;
	background-size: cover;
}

{% endblock %}

{% block page %}

<body>
		<div class="navbar">
			<div class="buttons">
				<a href="#" class="button is-primary">s'inscrire</a>
				<a href="#" class="button is-light">Login</a>
			</div>
		</div>
		<div class="village_present">
			<div class="hero is-info">
				<div class="hero-head">
				</div>
				<div class="hero-body">
					<div class="columns">
						<div class="column">
							<h1 class="title">Village X {# player.village #}
							<button class="button is-info">
							<span class="icon is-small" onclick="openmyModal(mymodal)"><i class="fas fa-plus"></i></span>
							</button>
						</h1>
							<h2 class="subtitle">anne 1220 {# player.date // en conversion#} </h2>
						</div>
						<div class="column is-narrow">
							<div class="box content is-medium">
								<div class="control">
									<p>le pays va bien {# etat.status // generation phrase#} </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="notification is-info">
				Ceci est un test  {# player.notification // notification #}
			</div>
		</div>
		{#
			player.action // genere dans tour.
		#}
		<div class="section">
			<div class="container">
				<div class="columns is-multiline">
					<div class="column is-one-quarter">
						{{ include('test/action.twig')}}
					</div>
					<div class="column is-one-quarter">
						{{ include('test/action.twig')}}
					</div>
					<div class="column is-one-quarter">
						{{ include('test/evenement.twig')}}
					</div>
					<div class="column is-one-quarter">
						{{ include('test/autre.twig')}}
					</div>
				</div>
				<div class="has-text-centered">
					<button class="button is-primary is-medium" date-target="modal-bis">Passer un tour</button>
				</div>
			</div>
		</div>
		{{ include('test/ville.twig') }}
	<script type="text/javascript">
		const openmyModal = function (modalElt) {
			modalElt.classList.add('is-active');
		}
		const closemyModal = function (modalElt) {
			modalElt.classList.remove('is-active');
		}
	</script>
</body>

{% endblock %}
