<article class="card">
	<div class="card-header">
		<p class="card-header-title">ville action</p>
		<div class="card-header-icon">
			<span class="icon">
				<i class="fas fa-city"></i>
			</span>
		</div>
	</div>
	<div class="card-content content">
		<p>Construire un Batiment</p>
		<div class="select is-multiple">
			<select multiple size="3">
				<option value="Bibiliotheque" selected>Bibliotheque</option>
				<option value="Marche">Marche</option>
				<option value="Gare">Gare</option>
			</select>
		</div>
		<p>evenement</p>
		<div class="select">
			<select name="evenement">
				<option value="Marche">Marche</option>
			</select>
		</div>
	</div>
</article>
