<div class="media">
	<div class="media-left">
		<p class="image is-64x64">
			<img src="https://bulma.io/images/placeholders/128x128.png">
		</p>
	</div>
	<div class="media-content">
		<div class="content">
			<p>
				<strong>Librarie</strong>
				<br>
				Une Petite librarie
				eduque la population
				+ 1 en culture et + 3 en ressource intelectuelle
			</p>
		</div>
	</div>
</div>
