<article class="message">
	<div class="message-header">
		<p>evenement</p>
		<span class="icon">
			<i class="fas fa-exclamation-circle"></i>
		</span>
	</div>
	<div class="message-body content">
		<p>un test entre 2 choix</p>
		<div class="control">
			<label class="radio">
				<input type="radio" name="event" value="oui">
				oui
			</label>
			<label class="radio">
				<input type="radio" name="event" value="non">
				non
			</label>
		</div>
	</div>
</article>
