<div class="modal" id="mymodal">
	<div class="modal-background" onclick="closemyModal(mymodal)"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Ville-1</p>
			<button class="delete" aria-label="close" onclick="closemyModal(mymodal)"></button>
		</header>
		<section class="modal-card-body">
			<img src="https://i1.wp.com/killscreen.com/wp-content/uploads/2014/01/The-Banner-Saga_1_2.jpg?w=1760&ssl=1" alt="test_image">
			<div class="content">
				<table class="table is-fullwidth is-bordered">
					<tr>
						<th>ressource fine<i class="fas fa-gem"></i></th>
						<th>ressource intelectuelle </th>
						<th>matteriaux</th>
						<th>ressource rare</th>
					</tr>
					<tr>
						<td>12</td>
						<td>10</td>
						<td>10</td>
						<td>12</td>
					</tr>
				</table>
				<p>une petite ville en bord de mer</p>
				<h4 class="title is-4"> Batiments</h4>
				{{ include('test/batiment.twig')}}
			</div>
		</section>
	</div>
</div>
